---
page_title: "ZStack Provider"
description: |-
  The ZStack provider is used to interact with the resources supported by ZStack Cloud, a powerful cloud management platform. 
  This provider allows you to manage various cloud resources such as virtual machines, networks, storage, and more. 
  It provides a seamless integration with Terraform, enabling you to define and manage your cloud infrastructure as code.
---

# {{ .ProviderShortName }} Provider

{{ .Description }}

The ZStack provider is designed to manage resources in a ZStack Cloud environment. 
It provides a way to interact with ZStack's API to create, update, and delete resources such as virtual machines, networks, storage, and more. 
This provider is ideal for organizations looking to automate their cloud infrastructure management using Terraform.

## Example Usage

To use the ZStack provider, you need to configure it with the necessary credentials and endpoint information. Login ZStack Cloud, Operation Management -> Access Control -> AccessKey Management, Click Generate AccessKey
Below is an example configuration:

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown }}
