---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description }}

## Example Usage

{{tffile "examples/data-sources/hosts/data-source.tf"}}

{{ .SchemaMarkdown }}
